@if (TempData["success"] != null)
{
    <div class="col-12">
        <div class="alert alert-success js-toast mb-0 mt-3" role="alert">
            @TempData["success"]
        </div>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="col-12">
        <div class="alert alert-danger js-toast mb-0 mt-3" role="alert">
            @TempData["error"]
        </div>
    </div>
}